
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>BootPage</title>
</head>
<body>
    <form>

        <div class="form-row">

            <div class="form-group form-inline col-md-1">
                <label>&nbsp;</label>
                <div class="form-control-file">Username</div>
            </div>
            <div class="form-group col-md-2">
                <label for="inputEmail4"><small>Email</small></label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group form-inline col-md-1">
                <label>&nbsp;</label>
                <div class="form-control-file text-center">until</div>
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4"><small>Password</small></label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>
        </div>
    </form>
</body>
</html>
